.header  {
  font-family: monospace;
  background: papayawhip;
  display:flex;
  border:1px solid black;
  justify-content:space-between;
}


.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}


ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display:flex;
  gap:8px;
 
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

