* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

.menu{
    display:flex;
    justify-content:space-between;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    width:900px;
}

.menu-container{
    display:flex;
    background-color:rgb(0, 0, 0);
    padding:20px;
    justify-content:center;

}

.accounts{
    display:flex;
    justify-content:flex-end;

}

.login{
    margin-left:20px;
}


.header-container{
    display:flex;
    background-color:rgb(97, 50, 50);
    padding:100px;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}

.header{
    color:white;
    font-family:'Roboto', sans-serif;
    font-size:50px;
    display:flex;
    width:1000px;
    justify-content:space-around;
    flex-wrap:wrap;
}

.name{
    margin-left:100px;
}
.projects{
    margin-right:100px;
}

.picture{
    width:200px;
    height:auto;
    margin-right:50px;
}

