*{
    font-family: 'Roboto', sans-serif;
}

/* Header*/
body{
    margin:0;
    padding:0;
}

.header{
    display:flex;
    justify-content:center;
    background-color:#1F2937;
    padding:30px;
    color:white;
}
.logo{
    margin-right:auto;
    
}

.links{
    display:flex;
    gap:30px;
}
a{
    color:white;
}
a:link{
    text-decoration:none;
}


/*First Section*/

.section1{
    background-color:#1F2937;
    display:flex;
    padding:50px;
    justify-content:center;
    align-content:center;
    gap:50px;
    flex-wrap:wrap;
    color:white;
}

.left{
    flex:1;
    padding:50px;
}

.right{
    flex:1;
}

.signup{
    background-color:blue;
    cursor: pointer;
    font-weight:550;
    font-size:12px;
    padding:5px;
    border-radius:10%;
    border:none;
    color:white;
}

.examplewebsite{
    width:500px;
    height:auto;
    border-radius:10%;
}

/*Second Section*/
.section2{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:100px;
    background-color:#E5E7E5;
    gap:50px;
    flex:wrap;
}

.s2-header{
    text-align:center;
    font-size: 35px;
    font-weight:550;
    margin-top:-50px;


}

.cards{
    display:flex;
    gap:50px;
}

.card1,
.card2,
.card3{
    display:flex;
    flex-direction:column; 
    align-items:center;
    gap:30px;
    text-align:center;
    font-weight: 550;
    flex:1;
}


.pictures{
    width:300px;
    border-radius:20%;
}

/*Third Section*/
.section3{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:50px;
    background-color:#1F2937;
    font-weight:550;
    font-style:italic;
    color:#E5E7E5;
}

#quote{
    width:700px;
}

#name{
    width:700px;
    flex:auto;
}

/* Fourth Section*/

.section4{
    display:flex;
    justify-content:center;
    align-items:center;
    height:500px;
    background-color:#E5E7E5;
}
.box{
    display:flex;
    flex-direction:column;
    gap:50px;
    font-size:30px;
    font-weight:300;
    text-align:center;
    color:#1F2937;
    height:300px;
    width:800px;
    justify-content:center;
    align-items:center;
}

#options{
    display:flex;
    gap:30px;
    font-size:15px;
    font-weight:500;
    font-style:italic;
}

.quote{
    background-color:#E5E7E5;
    color:black;
    border-radius:5%;
    cursor:pointer;

}

/*Footer*/
#footer{
    display:flex;
    width:100%;
    height:75px;
    justify-content: center;
    align-items:center;
    position:relative;
    bottom:0;
    font-weight:bold;
    color:white;
    background-color:#1F2937

}



