@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
/*SOLN*/

body{
  font-weight:bold;
}

.header{
  display:flex;
  align-items:center;
  text-decoration:none;
  list-style:none;
}

.left-links,
.right-links {
  color:gray;
  gap:30px;
  display:flex;
}

.left-links{
  margin-right:auto;
  margin-left:-20px;
}

.right-links{
  margin-left:auto;
  margin-right:20px;
}

ul{
  list-style:none;
}

a:link{
  color:gray;
  text-decoration:none;
}

.content{
  display:flex;
  height:600px;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}


