body{
    margin:0;
    padding:0;
    border:0;
    background-color:#EDC7B7;
    font-family: 'PT Sans Narrow', sans-serif;
}

#text{
    display:flex;
    flex-direction:column;
    align-items:center;
}

button{
    transition: 3s;
    
}

/* Header */

#header{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
    font-weight:550;
    height:150px;
    color: #AC3B61;
}

#header #title{
    font-size:75px;
    font-weight:550;
}

button{
    position:relative;
}
button:hover{
    bottom:20px;
}

/* Middle Section */
#pick{
    color: #123C69;
}

#middle{
    margin:-20px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:300px;
    color: #123C69;
}

#choices{
    display:flex;
    gap:200px;
}
.choice{
    display:flex;
    flex-direction:column;
    align-items:center;
}

#rock,
#paper,
#scissors{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    margin-left:10px;
}

.rockimage,
.paperimage,
.scissorsimage{
    height:150px;
    width:auto;
}



/* Footer */
#footer{
    display:flex;
    justify-content:center;
    align-items:center;
    height:50px;
    position:fixed;
    width:100%;
    bottom:0;
    background-color:#C5C6C7;
    font-weight:400;
    font-size:20px;
}

